@charset "ISO-8859-1";
body{
    background-image:url("foodwallpaper.jpg");
    background-size: cover;
}
#title{
    color: brown;

}
#feature{

    padding: 150px;
}
.reg_form{
    padding: 10px;
}
#form{
    padding: 120px;
    
}